mixin list-suppot(items)
  fieldset&attributes(attributes)
    legend.text-uppercase= items.legend
    -if(typeof(items.buttons) !== undefined) {
      +list-button(items.buttons)
    -}
    if block
      block
mixin list-button(items)
  -if(typeof(items) !== undefined) {
    ul&attributes(attributes)
      -for(var i = 0, len = items.length; i < len ; i++) {
        li.btn.btn-default.btn-lg.btn-block
          |#{items[i].text}
      -}
  -}
mixin address(items)
  -if(typeof(items) !== undefined) {
    address&attributes(attributes)
      strong #{items.name}
        br
        |#{items.subtext}
      br
      |mail:&nbsp;
      +link(items.mail.text, items.mail.href)
      br
      abbr(title="Mobile") Mobile:&nbsp;
      |#{items.mobile}
      br
      abbr(title="Fixe") Fixe:&nbsp;
      |#{items.fixe}
      br
      |#{items.add}
      br
      +link(items.website.text, items.website.link)
    +img(items.img.alt, items.img.src)
  -}
  if block
    block
mixin listTask(name, items, phase)
  -var popup = 'addCard-' + phase
  .list-content-wrapper(data-swap-progress, data-phase=phase)
    .list-content(data-get-detail)
      .list-header
        .list-header-overlay
        textarea.card-name
          |#{name}
        span.icon-ellipsis(data-show-option)
      .list-cards(data-swap-content, data-get-list-card)
        each item, key in items
          +task(item)
      // CHIEN-EDIT
      .addcard-block.no-sort.hide(data-target-popup=popup, data-create-card)
        textarea.new-card-name(data-fluid-height, data-input, rows=3, data-min-rows="3")
        .form-group
          button.create(data-accept) Add
          button.negative(data-close-popup)
            span.icon-close
      // CHIEN-EDIT
      .add-card.no-sort(data-open-popup, data-not-focus="false", data-target=popup) Ajouter une carte
mixin task(item)
  -var hasCover = false,hasComment = false,hasAttachment = false,hasMember = false
  -if(typeof(item.cover) != 'undefined') hasCover = true
  -if(typeof(item.comment) != 'undefined') hasComment = true
  -if(typeof(item.attachment) != 'undefined') hasAttachment = true
  -if(typeof(item.member) != 'undefined') hasMember = true
  a.card(data-content)
    span.icon-pencil(data-show-option, data-show-overlay=true)
    .card-description
      span.detail
        |#{item.detail}
      ul.icons
        if(item.description)
          li(title='Thẻ đã có miêu tả')
            span.icon-descrip
        if(hasComment)
          li(title='Thẻ đã có bình luận')
            span.icon-comment
            |#{item.comment}
        if(hasAttachment)
          li(title='Thẻ đã có đính kèm')
            span.icon-attachment
            |#{item.attachment}
        if(hasMember)
          li.member-images
            each mem, key in item.member
              +img(mem.alt,mem.src)(title="#{mem.name}")