mixin button(params)
  button(type=params.type || "button")&attributes(params.attr || attributes)=params.text
    if block
      block

mixin input(params)
  input(id=params.id || params.name, type=params.inputType || 'text', value=params.val, name=params.name, placeholder=params.placeholder, required=params.required, data-validateform=params.hasValidate, readonly=params.readonly, disabled=params.disabled)&attributes(params.attr || attributes)

mixin select(params)
  select(id=params.id || params.name, name=params.name, data-validateform=params.hasValidate, required=params.required)&attributes(params.attr || attributes)
    each opt in params.opts
      option(value=opt.val, selected=opt.selected)=opt.text

mixin label(params)
  label(for=params.target)&attributes(params.attr || attributes)=params.text
    if block
      block
mixin textarea(params)
  textarea.form-control(rows=params.rows || 5, name=params.name, id= params.id || params.name)&attributes(params.attr || attributes)
mixin frm-group(params)
  +label(params.label)
  -if(params.input.hasValidate) {
    .control-group&attributes(params.attr || attributes)
      +input(params.input)&attributes(params.attr || attributes)
  -} else {
    +input(params.input)&attributes(params.attr || attributes)
  -}
mixin frm-group-4(params)
  -if(params.label){
    +label(params.label)
  -}
  -if(params.textarea.hasValidate) {
    .control-group
      +textarea(params.textarea)&attributes(params.attr || attributes)
  -} else {
    +textarea(params.textarea)&attributes(params.attr || attributes)
  -}
mixin frm-group-1(params)
  .form-group
    +label(params.label).col-xs-2.control-label
    .col-xs-5
      +input(params.input)(readonly="true").form-control
    if block
      block

mixin input-group-1(params)
  -if(!params.empty) {
    .form-inline
      .input-group&attributes(params.attr || attributes)
        +link('').input-group-addon.glyphicon.glyphicon-search
        +input(params.input)
  -}

mixin frm-group-0(params)
  +label(params.label).col-xs-5.control-label
  div(class=params.col || "col-xs-7")
    case params.type
      when 0
        +input(params.input).form-control
      when 1
        +select(params.select).form-control
      when 2
        +select(params.select)(multiple="true").form-control
      when 3
        +input(params.input)(data-datepicker="true", data-datepicker-range=params.input.daterange, data-date-format=params.input.dateFormat).form-control
      when 4
        .row
          .col-xs-6.control-group
            +input(params.input[0])(data-datepicker="true", data-datepicker-range=params.input[0].range).form-control
          .col-xs-6.control-group
            +input(params.input[1])(data-timespinner="true", placeholder="hh:mm", data-time-type="true").form-control
      when 5
        .input-group-1
          +input(params.input).form-control
        .input-group-1
          +input(params.input).form-control
          span.glyphicon.glyphicon-remove.del-btn
mixin frm-group-2(params)
  - if (!params.notWrap) {
    .form-group.control-group&attributes(params.attr || attributes)
      +frm-group-0(params)
      if block
        block
  -} else {
    +frm-group-0(params)
    if block
      block
  - }

mixin frm-group-3(params)
  div(class=params.passWrapper ? '' : 'form-group')&attributes(params.attr || attributes)
    +label(params.label)
    -if(params.select.hasValidate) {
      .control-group
        +select(params.select).form-control
    -} else {
      +select(params.select).form-control
    -}


mixin checkbox(params, cte)
  .checkbox&attributes(params.attr || attributes)
    label(lass=params.label.class)
      +input(params.input)(type="checkbox", checked=params.input.checked, data-check-to-enable=params.cte || cte, data-target=params.input.target)
      |#{params.label.text}

mixin radio(params, isDisabled)
  .radio&attributes(params.attr || attributes)
    label(class=params.label.class, for=params.input.id || params.input.name)
      +input(params.input)(type="radio", checked=params.input.checked, disabled=params.disabled || isDisabled, data-pin-check=params.input.hasPinCheck)
      if block
        block
      |#{params.label.text}

mixin list-radio(params)
  +checkbox(params.checkbox, 'true').control-group
  .form-group&attributes(params.attr || attributes)
    each item in params.items
      +radio(item, isDisabled='true')&attributes(params.attr || attributes).disabled
