mixin nav(items)
  ul.nav.nav-pills.custom-nav
    each item, key in items
      - var active = ''
      - if (key === menuIndex) active = 'active'
      li(class=active, role="presentation")
        +link(item.title, item.href, item.text)(class=item.class)
        - if (typeof(item.itemsMenu) !== 'undefined'){
          +nav(item.itemsMenu)
        - }

mixin subMenu(items, level)
  - for(var i = 0; i < items.length; i++) {
    - if(!items[i].href) items[i].href = '#'
    li(class=(items[i].submenu ? (level == 0 ? 'dropdown' : 'dropdown-submenu') : ''))
      - if(items[i].submenu) {
        a.dropdown-toggle(href=items[i].href, title=items[i].text, data-toggle='dropdown')!=items[i].text
          -if(level == 0){
            span.caret
          -}else{
            span.caret.caret-1
          -}
        ul.dropdown-menu(role='menu')
          +subMenu(items[i].submenu, level + 1)
      - } else {
        a(href=items[i].href, title=items[i].text)!=items[i].text
      - }
  - }
mixin pagination(items)
  nav
    ul.pagination
      li(data-click-fill-ajax="true", data-url="/data/test-paging.json", data-pass-validate="true", data-value="index=first", data-paging-ajax="true", data-fill-ajax-target="#list-lieu-table")
        +link('', '#')(aria-label="Previous")
          span(aria-hidden="true") &laquo;
      - for( var i = 0, l = items.length; i < l; i++) {
        -var idx = i + 1
        li(class= (i === 0 ? 'active' : ''), data-click-fill-ajax="true", data-url="/data/test-paging.json", data-pass-validate="true", data-value="index=#{idx}", data-paging-ajax="true", data-fill-ajax-target="#list-lieu-table")
          +link(items[i], '#')
      -}
      li(data-click-fill-ajax="true", data-url="/data/test-paging.json", data-pass-validate="true", data-value="index=last", data-paging-ajax="true", data-fill-ajax-target="#list-lieu-table")
        +link('', '#')
          span(aria-hidden="true") &raquo;
mixin tab(items)
  ul.nav.nav-tabs(role="tablist")&attributes(items.navAttr || attributes)
    -if(items.li.length) {
      each item in items.li
        li(role="presentation", class=item.active ? 'active' : '')&attributes(item.attr || attributes)
          +link(item.title, item.href, item.text)(aria-controls=item.control)
    - }
    if block
      block
