mixin table(item)
  table.table&attributes(attributes)
    -if(typeof item.ths !== undefined) {
      thead
        tr
          each th in item.ths
            th= th
    -}
    -if(typeof item.trs !== undefined) {
      tbody
        each tr in item.trs
          tr
            each td in tr
              td
                -if(typeof item.type === 'undefined')
                  +input({inputType: 'text', val: td})(readonly="true").form-control
                -else
                  |#{td}
    -}
    - if(typeof item.tfs !== 'undefined') {
      tfoot
        tr
          td= item.tfs[0]
          - for(var i = 1, len = item.tfs.length; i < len; i++) {
            td
              +input({inputType: 'text', val: item.tfs[i]})(readonly="true").form-control
          -}
    -}
mixin table-2(item)
  table.table.list-item&attributes(attributes)
    -if(typeof item.ths !== undefined) {
      thead
        tr
          each th in item.ths
            th
              -if(typeof item.type === 'undefined')
                +input-group-1({input: {placeholder: th.placeholder, name: th.name, readonly: th.hasDatepicker || th.isReadonly, attr: {'data-submit': 'true', class: 'form-control', 'data-datepicker': th.hasDatepicker}}, empty: th.empty})
                  if block
                    block
                  - if(th.empty) {
                    |#{th.text}
                  - }
              -else
                |#{th}
    -}
    -if(typeof item.trs !== undefined) {
      tbody
        each tr in item.trs
          tr
            each td in tr
              -if(td.dataId || td.dataName || td.dataPhone || td.dataAddress) {
                td(data-id=td.dataId, data-name=td.dataName, data-phone=td.dataPhone, data-address=td.dataAddress)
                  |#{td.text}
              - }
              -else {
                td.text-center
                  -if(td.hasLink) {
                    -if(!td.noDropdown) {
                      .btn-group
                        +button({text: td.text||'Button', attr: {class: 'btn btn-warning btn-default dropdown-toggle','data-toggle':'dropdown'}})
                          span.caret
                        ul(role="menu", class=td.isRightAlign).dropdown-menu
                          -if(td.noPopup) {
                            -if(td.loadAjax) {
                              li
                                +link('Modifier', 'javascript:;')(data-url=td.editUrl, data-target=td.editTarget, data-edit-planning-load-ajax=td.loadAjax, data-get-value-target='["[data-id]"]')
                              li
                                +link('Supprimer', 'javascript:;')(data-clickshowpopup="true", data-url=td.deleteUrl, data-modal-target=td.deleteTar, data-get-value-target="[]", data-dismiss="modal", data-delete="true")
                            -} else {
                              li
                                +link('Modifier', 'javascript:;')(data-url=td.editUrl, data-target=td.editTarget, data-get-value-target='["[data-id]"]')
                              li
                                +link('Supprimer', 'javascript:;')(data-clickshowpopup="true", data-url=td.deleteUrl, data-modal-target=td.deleteTar, data-get-value-target="[]", data-dismiss="modal", data-delete="true")
                              
                            -}
                          -} else {
                            -if(td.more) {
                              li
                                +link('Modifier', 'javascript:;')(data-url=td.editUrl, data-target=td.editTarget, data-edit-category=td.editCategory, data-modal-target=td.editTar, data-get-value-target='["[data-id]"]')
                              li
                                +link('Supprimer', 'javascript:;')(data-clickshowpopup="true", data-url=td.deleteUrl, data-modal-target=td.deleteTar, data-get-value-target="[]", data-dismiss="modal", data-delete="true")
                              li
                                +link('...', '#')
                              li
                                +link('...', '#')
                            -} else {
                              li
                                +link('Modifier', 'javascript:;')(data-url=td.editUrl, data-target=td.editTarget, data-modal-target=td.editTar, data-get-value-target='["[data-id]"]')
                              li
                                +link('Supprimer', 'javascript:;')(data-clickshowpopup="true", data-url=td.deleteUrl, data-modal-target=td.deleteTar, data-get-value-target="[]", data-dismiss="modal", data-delete="true")
                            -}
                          -} 
                          
                    -} else {
                      +link(td.text ||'Synchronizer').btn.btn-warning.btn-default
                    -}
                  -} else {
                    |#{td}
                  -}
              -}
    -}
